@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url('../img/ntflxx.png');
    background-color: black;
    background-size: cover;
}
.logo {
    width: 20%;
    height: 10%;
}
.quadrado {
    width: 500px;
    height:650px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -3%;
    
}
.entrar {
    color:white;
    font-size: 30px;
    margin-left:11%;
}
.formulario {
    width:360px;
    padding:15px;
    border-radius: 6px;
    background-color: rgb(54, 53, 53);
    color:rgb(202, 198, 198);
    font-size: 16px;
    border-style: none;
    margin-left: 11%;
}
button {
    width: 390px;
    padding:15px;
    margin-left:11%;
    border-radius: 6px;
    border-style: none;
    font-size: 18px;
    background-color: rgb(199, 17, 17);
    color:rgb(202, 198, 198);
    font-weight: bold;
}
.checkbox {
    color:white;
    text-align: left;
    margin-left:11%;
}
.help {
    color:white;
    text-decoration: none;
    margin-right: 10.5%;
}
.face {
    text-decoration: none;
    color:white;
    margin-left:1%;
    
}
.facelogo {
    margin-left:11%;
    width:25px;
}
footer {
    width: 100%;
    padding-bottom:1px;
    background-color: rgba(0, 0, 0, 0.6);
    color:silver;
    text-align: center;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.toga {
    display: flex;
    justify-content: space-between;
}
    